<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerobic Fit</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div id = "appb">
    
        <nav>
        <div class="nav-wrapper black">
            <img id = "home_logo" src = "/imgs/home_logo.jpg">
            <a href="/" class="brand-logo center">Aerobic Fit</a>
            <ul class="right">
                <li><a href="/" class = "deep-orange-text text-accent-3 "><i class="material-icons left">home</i> Home</a></li>
                <li><a href="/workouts"class = "deep-orange-text text-accent-3 " ><i class="material-icons left">assignment</i> Your Workouts</a></li>
                <li><a href = "/profiles"class = "deep-orange-text text-accent-3 "><i class = "material-icons left">person_pin</i> Profile </a></li>
                <li><a href = "/plans"class = "deep-orange-text text-accent-3 "><i class = "material-icons left">call_to_action</i> Workout Plan AI </a></li>
            </ul>
        </div>
    </nav>
    
    <div class = "right-align" id = "home-text">
        <h2 class="amber-text text-lighten-2 home-headers"> Create Your Own Workouts</h2>
        <h2 class="amber-text text-lighten-2 home-headers"> AND </h2>
        <h2 class="amber-text text-lighten-2 home-headers"> Get AI-Generated </h2>
        <h2 class="amber-text text-lighten-2 home-headers"> Workout Recommendations</h2>
        <a class="waves-effect waves-light btn purple green darken-2" href = "/workouts"><i class="material-icons left">cloud</i> Start Now! </a>
        
    </div>
    <div id = "side-div">
    <img id = "me_pic" class = "materialboxed"src = "/imgs/don't_quite.jpg">
    </div>
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src = "/js/script.js"></script>
    
</body>
</html>